<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS & Mongo</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="bgColor">
<div class="container">
    <div style="margin: auto; padding: 10px; width: 90%; height: 100%; ">
        <div class="menu">
            <div style="float: left; padding: 10px 5px;">
                <a href="/" style=" font-weight:bold;">Home:MVC</a>
            </div>
            <div style="float: left; padding: 10px 5px;;">
                <a href="/shop" >Shop:MongoDB </a> &nbsp; &nbsp; 
                <a href="/product/list" >Product:Mongoose</a> &nbsp; &nbsp; 
                <a href="/movies/list" >Movie:Mongoose</a> &nbsp; &nbsp; 
                <a href="employee/departtment/list" >Joining:Mongoose</a> &nbsp; &nbsp; 
            </div>
            <div style="float: left; padding: 10px 5px;">
                <a href="/article/list" style="color: #000" >Article:Mysql-Async</a> &nbsp; &nbsp;
                <a href="/article/listing"  >Article:Mysql</a> &nbsp; &nbsp;
                <a href="/item/list?page=2"  >Article:Mysql-Sequelize</a>            
            </div>
        </div>
        <div style="width: 80%; margin: auto;">