<%- include('../includes/header.ejs') %>
<div>
    <h3>
        -: Product details using mongoose :- &nbsp; 
        <a href="/" style="color: #111;">Go to home page</a>
    </h3><hr />

    <h3>Product Name : <%= shopdata['name'] %></h3>
    <h3>Product Price : <%= shopdata['price'] %></h3>
</div>
<%- include('../includes/footer.ejs') %>